<button (click)="convertToJSONAll()">JSONIFY ALL</button>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Score
        </th>
    </tr>
    <tr *ngFor="let movie of movies; let indexOfMovie=index;">
        <td>
            {{movie.title}}
        </td>
        <td>
            {{movie.description}}
        </td>
        <td>
            {{movie.score.toFixed(2)}}
        </td>
        <td>
            <button (click)="convertToJSON(movie, indexOfMovie)">JSONIFY</button>
        </td>
    </tr>
</table>
