#container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.movies-list {
    width: 60%;
}

app-display-json {
    border: 2px solid black;
    overflow: scroll;
    width: 40%;
    padding: 10px;
}
