#container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.movies-list {
    height: 100%;
    width: 60%;
}

app-display-json {
    border: 2px solid black;
    /* height: 100%; */
    width: 40%;
    padding: 10px;
}
